.logoContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  width: 60px;
}

.logo img {
  width: 100%;
}

@media only screen and (max-width: 750px) {
  .title {
    display: none;
  }
}
