.sidebar {
  position: fixed;
  padding: 5px;
  /* overflow-y: scroll; */
  /* overflow: auto; */
  height: 100%;
  /* width: 100%; */
}

@media (max-width: 650px) {
  .sidebar {
    position: relative;
  }
}
